body {
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}

.weather-app {
  border: 1px solid #70a9ff;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  margin-top: 40px;
  max-width: 50%;
  padding: 40px;
  background-color: #22577e;
  line-height: 1.5;
  text-align: left;
  display: block;
}
input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  width: 100%;
}
.search,
.current {
  padding: 15px 20px;
  border-radius: 6px;
  height: 50px;
  line-height: 20px;
  font-weight: 500;
}
